In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
df = pd.read_csv('gggg.csv')

In [2]:
df.head()

,Time (24hr),Road Surface,Weather Conditions,Casualty Class,Lighting Conditions,Sex of Casualty,Age of Casualty,Type of Vehicle,Casualty Severity
0,1905,Dry,Fine,Driver,Darkness,Male,38,Motorcycle,Serious
1,1645,Dry,Fine,Driver,Daylight,Male,26,Car,Slight
2,1645,Dry,Fine,Vehicle,Daylight,Female,22,Car,Slight
3,956,Wet,Fine,Driver,Daylight,Male,57,Pedal cycle,Slight
4,1115,Dry,Fine,Driver,Daylight,Male,59,Pedal cycle,Serious

In [3]:
df.dtypes

Time (24hr)             int64
Road Surface           object
Weather Conditions     object
Casualty Class         object
Lighting Conditions    object
Sex of Casualty        object
Age of Casualty         int64
Type of Vehicle        object
Casualty Severity      object
dtype: object

In [4]:
obj_df = df

In [5]:
obj_df[obj_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Time (24hr), Road Surface, Weather Conditions, Casualty Class, Lighting Conditions, Sex of Casualty, Age of Casualty, Type of Vehicle, Casualty Severity]
Index: []

In [6]:
obj_df['Road Surface'].value_counts()

Wet    16
Dry     4
Name: Road Surface, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
obj_df['Road Surface'] = lb_make.fit_transform(obj_df['Road Surface'])
obj_df['Casualty Class'] = lb_make.fit_transform(obj_df['Casualty Class'])
obj_df['Lighting Conditions'] = lb_make.fit_transform(obj_df['Lighting Conditions'])
obj_df['Sex of Casualty'] = lb_make.fit_transform(obj_df['Sex of Casualty'])
obj_df['Type of Vehicle'] = lb_make.fit_transform(obj_df['Type of Vehicle'])
obj_df['Weather Conditions'] = lb_make.fit_transform(obj_df['Weather Conditions'])
obj_df['Casualty Severity'] = lb_make.fit_transform(obj_df['Casualty Severity'])
obj_df.head(11)

,Time (24hr),Road Surface,Weather Conditions,Casualty Class,Lighting Conditions,Sex of Casualty,Age of Casualty,Type of Vehicle,Casualty Severity
0,1905,0,0,0,0,1,38,1,0
1,1645,0,0,0,1,1,26,0,1
2,1645,0,0,2,1,0,22,0,1
3,956,1,0,0,1,1,57,2,1
4,1115,0,0,0,1,1,59,2,0
5,1352,1,0,0,1,0,53,0,0
6,2015,1,1,2,0,0,22,0,1
7,1110,1,0,2,1,0,20,0,1
8,1638,1,1,0,0,1,22,0,1
9,1638,1,1,2,0,0,26,0,1
10,1150,1,1,0,1,1,35,0,1

In [8]:
print( df.head())
x = df.iloc[:, 0:-1]
y = df.iloc[:, -1]

   Time (24hr)  Road Surface  Weather Conditions  Casualty Class  \
0         1905             0                   0               0
1         1645             0                   0               0
2         1645             0                   0               2
3          956             1                   0               0
4         1115             0                   0               0

   Lighting Conditions  Sex of Casualty  Age of Casualty  Type of Vehicle  \
0                    0                1               38                1
1                    1                1               26                0
2                    1                0               22                0
3                    1                1               57                2
4                    1                1               59                2

   Casualty Severity
0                  0
1                  1
2                  1
3                  1
4                  0

In [9]:

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.8)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Fitting Decision Tree Classification to the Training set
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier( random_state = 0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)
print (y_pred)

[1 1 1 0 1 1 0 0 1 0 1 0 1 1 1 0]

/home/gajen/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/gajen/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/gajen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  # Remove the CWD from sys.path while we load stuff.

In [10]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
print (confusion_matrix(y_test, y_pred) )

[[ 2  0]
 [ 4 10]]

In [11]:
X = lb_make.inverse_transform (y_pred)

In [12]:
print (X)

['Slight' 'Slight' 'Slight' 'Serious' 'Slight' 'Slight' 'Serious'
 'Serious' 'Slight' 'Serious' 'Slight' 'Serious' 'Slight' 'Slight'
 'Slight' 'Serious']

In [13]:
lb_make.classes_

array(['Serious', 'Slight'], dtype=object)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.75